*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.primeira-secao{
    background-color: blue;
    border-bottom: 16px solid green;

    width: 100%;
    height: 500px;
}

.segunda-secao{
    background-color: red;
    border-bottom: 16px solid green;

    width: 100%;
    height: 500px;
}